{% extends 'layout/base.html' %}

{% block content %}
  <div class="inner container">
    <div class="catalog-list">
    {% if children %}
      {% for category in children %}
        <h2>{{ category.name }}</h2>
        {% include 'products.html' with category=category only %}
      {% endfor %}
    {% else %}
      <h1>{{ category.name }}</h1>
      {% include 'products.html' with category=category only %}
    {% endif %}
     <div class="catalog-description">
       {% autoescape off %}
        {{ page.content }}
       {% endautoescape %}
      </div>
    </div>
  </div>
{% endblock %}
