{% extends 'layout/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="inner cover">
  <div class="slider">
    <div class="one-slide" style="background-image: url({% static 'images/slide-homepage.jpg' %})"></div>
    <div class="one-slide" style="background-image: url({% static 'images/slide-homepage.jpg' %})"></div>
    <div class="one-slide" style="background-image:url({% static 'images/slide-homepage.jpg' %})"></div>
  </div>
</div>
<div style="height: 510px"></div>
{% endblock %}
