{% extends 'layout/base.html' %}

{% block content %}
  <div class="inner container">
    <div class="tovar">
      <h1>{{ page.h1 }}</h1>
      <div class="row tov">
        <div class="col-xs-6">
          <div class="tovar-gallery">
            <div class="tovar-foto">
              {% for image in page.images.all %}
                <div><img src="{{ image.image.url }}" height="244" alt="{{ page.h1 }}"></div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="tovar-param">
            <ul class="opis-list">
              <li><span>Мощность:</span> 2000 Вт</li>
              <li><span>Парогенератор:</span> есть</li>
              <li><span>Спрей-режим:</span> есть</li>
              <li><span>Защита от капель:</span> есть</li>
              <li><span>Защита от накипи:</span> есть</li>
              <li><span>Ручка:</span> мягкая</li>
              <li><span>Парогенератор:</span> есть</li>
              <li><span>Подошва:</span> керамическая</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="item-content">
                {{ page.content }}
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row grey">
    <div class="dr-tovary">
      <ul>
        <li class="other-tovar-item"><a href="#"><img src="images/other-tovar.png" alt=""><p>Название</p></a></li>
        <li class="other-tovar-item"><a href="#"><img src="images/other-tovar.png" alt=""><p>Lorem Ipsum Dolor sit Amet</p></a></li>
        <li class="other-tovar-item"><a href="#"><img src="images/other-tovar.png" alt=""><p>Название</p></a></li>
        <li class="other-tovar-item"><a href="#"><img src="images/other-tovar.png" alt=""><p>Lorem Ipsum Dolor sit Amet</p></a></li>
        <li class="other-tovar-item"><a href="#"><img src="images/other-tovar.png" alt=""><p>Название</p></a></li>
        <li class="other-tovar-item"><a href="#"><img src="images/other-tovar.png" alt=""><p>Lorem Ipsum Dolor sit Amet</p></a></li>
        <li class="other-tovar-item"><a href="#"><img src="images/other-tovar.png" alt=""><p>Название</p></a></li>
      </ul>
    </div>
  </div>
{% endblock %}
