{% load i18n %}

<div class="items">
  {% for product in category.products.all %}
    <div class="item">
      <div class="pseudo-table">
        <div class="pseudo-tr">
          <div class="pseudo-td">
            <img src="{{ product.page.main_image.url }}" width="138">
          </div>
          <div class="pseudo-td">
            <div class="description">
              <h3>{{ product.name }}</h3>
              <p>{% trans 'Additional Information' %}</p>
              <p class="more">{% trans 'detail' %} <i class="fa fa-angle-right" aria-hidden="true"></i></p>
            </div>
          </div>
          <div class="pseudo-td">
          </div>
        </div>
      </div>
      <a href="{{ product.url }}"></a>
    </div>
  {% endfor %}
</div>
