{% load lp_extras %}

{% roots as root_categories %}

<div class="mastfoot">
  <div class="inner">
    <div class="phone"><a href="tel:88001111111">8 800 111 11 11</a></div>
    <div class="pull-left">
      <nav class="pull-left">
        <span class="title">О компании</span>
        <ul class="nav">
          <li><a href="/pages/about/">О нас</a></li>
          <li><a href="/pages/jobs/">Вакансии</a></li>
          <li><a href="/pages/contacts/">Контакты</a></li>
        </ul>
      </nav>
      <nav class="pull-left">
        <span class="title">Покупателям</span>
        <ul class="nav">
          <li><a href="/pages/conditions/">Условия работы</a></li>
          <li><a href="/pages/shipment/">Доставка</a></li>
          <li><a href="/pages/support/">Поддержка</a></li>
        </ul>
      </nav>
      <nav class="pull-left">
        <span class="title">Каталог</span>
        <ul class="nav">
          {% for category in root_categories %}
            <li><a href="{{ category.url }}">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="pull-right">
      <h2>Обратная связь</h2>
      <div class="social">
        <a href="#" class="fb" target="_blank"></a>
        <a href="#" class="insta" target="_blank"></a>
        <a href="#" class="vk" target="_blank"></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
