{% load lp_extras %}
{% load i18n %}

{% roots as root_categories %}

<div class="mastfoot">
  <div class="inner">
    <div class="phone"><a href="tel:88001111111">8 800 111 11 11</a></div>
    <div class="pull-left">
      <nav class="pull-left">
        <span class="title">{% trans 'About company' %}</span>
        <ul class="nav">
          <li><a href="{% url 'pages:flat_page' 'about' %}">{% trans 'About' %}</a></li>
          <li><a href="{% url 'pages:flat_page' 'jobs' %}">{% trans 'Jobs' %}</a></li>
          <li><a href="{% url 'pages:flat_page' 'contacts' %}">{% trans 'Contacts' %}</a></li>
        </ul>
      </nav>
      <nav class="pull-left">
        <span class="title">{% trans 'For customers' %}</span>
        <ul class="nav">
          <li><a href="{% url 'pages:flat_page' 'conditions' %}">{% trans 'Conditions' %}</a></li>
          <li><a href="{% url 'pages:flat_page' 'shipment' %}">{% trans 'Shipment' %}</a></li>
          <li><a href="{% url 'pages:flat_page' 'support' %}">{% trans 'Maintain' %}</a></li>
        </ul>
      </nav>
      <nav class="pull-left">
        <span class="title">{% trans 'Catalog' %}</span>
        <ul class="nav">
          {% for category in root_categories %}
            <li><a href="{{ category.url }}">{{ category.page.h1 }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="pull-right">
      <h2>Обратная связь</h2>
      <div class="social">
        <a href="#" class="fb" target="_blank"></a>
        <a href="#" class="insta" target="_blank"></a>
        <a href="#" class="vk" target="_blank"></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
